name: Build and Test

on:
  push:
    branches:
      - 'feature/**'
  pull_request:
  workflow_dispatch:
  workflow_call:
    inputs:
      jdk-version:
        description: "Versão do JDK"
        required: false
        default: "17"
        type: string
      maven-args:
        description: "Argumentos adicionais para mvn"
        required: false
        default: ""
        type: string
      working-directory:
        description: "Diretório onde o Maven deve ser executado (opcional)"
        required: false
        default: ""
        type: string

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK and enable Maven cache
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ inputs.jdk-version }}
          cache: maven

      - name: Build (package + tests)
        run: mvn -B package ${{ inputs.maven-args }}
        working-directory: ${{ inputs.working-directory }}
