name: 2. Create PR to Develop
on:
  workflow_call:
    inputs:
      feature-branch:
        required: true
        type: string

jobs:
  create-pr:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Create PR from feature to develop
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ inputs.feature-branch }}
          base: develop
          title: "PR automático: ${{ inputs.feature-branch }} -> develop"
          body: |
            PR automático gerado após build e testes bem-sucedidos.
            Branch: ${{ inputs.feature-branch }}
          labels: automated-pr