name: 3. Create PR to Main
on:
  workflow_call:

jobs:
  create-pr:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Create PR from develop to main
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: develop
          base: main
          title: "PR automático: develop -> main"
          body: |
            PR automático gerado após merge em develop.
          labels: release,production